

/* ==========================================================================
  Main Fonts
  ========================================================================== */

@font-face {
  font-family: 'GanCLM';
  src: url('../fonts/ganclm_bold-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GanCLM';
  src: url('../fonts/ganclm_bold-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GanCLM';
  font-style: normal;
  font-weight: 800;
}


html {
  direction: rtl;
  background-image: url("../images/bg4.gif") !important;
  background-repeat: no-repeat !important;
  background-size: 100% 739%;
}
body {
  /*background-color: $grey;*/
  font-family: "GanCLM";
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: white;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "GanCLM";
  margin-top: 0;
  position: fixed;
  top: 285px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 21px;
  right: 28px;
}
a { font-size: 14px;  }
footer {
  bottom: 0 !important;
  position: fixed;
  width: 100%;
  height: 10%;
}
footer {  z-index: 7;  }
footer.fixed {
  -webkit-backface-visibility: hidden;
  width: 100%;
  bottom: 0;
}
footer.fixed .btn-group-justified {
  table-layout: inherit;
  display: block;
}
footer.fixed .btn-group-justified .btn-group {
  float: right;
  display: inline-block;
  width: 50%;
  height: 65px;
  position: relative;
}
footer .btn {
  position: relative;
  border: 0;
  height: 65px;
  color: white;
  font-weight: 600;
  padding: 0;
}
footer .btn:active, footer .btn:focus {
  background-color: #838998;
  color: #ffffff;
}
footer .btn h4, footer .btn h3 {
  margin: 0;
  display: inline-block;
  font-size: 14px;
}
footer .btn .lighted {  opacity: 0.5;  }
footer .btn.btn-info {  background-color: #0dafe3;  }
footer .btn.btn-info:active, footer .btn.btn-info:focus {
  background-color: #068ed4;
  color: #ffffff;
}
footer .btn:first-of-type {  border-left: none;  }
footer .btn .btn-container {
  position: relative;
  display: inline-block;
}
footer .btn .btn-container #info-icon {
  display: inline-block;
  vertical-align: middle;
}
footer .btn .btn-container #info-icon object {
  width: 25px;
  vertical-align: middle;
  margin-left: 10px;
}
footer .btn .btn-container h4 {
  position: relative;
  vertical-align: middle;
  font-size: 14px;
}
.h1, .h2, .h3, .h4, .h5, .tasks-list-element .tasks-list-btn .btn > span, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
.h4, .h5, .tasks-list-element .tasks-list-btn .btn > span, .h6, h4, h5, h6 {
  margin-top: 0;
}
.header {
/*  background-color: blueviolet;;
  color: white;
  height: 50px;*/
}
.header #back-btn, .header #reason-back-btn, .header #top-close-btn {
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  padding: 14px;
  margin-right: -15px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background-color: transparent;
  -webkit-transition: 0.2s background-color ease;
  -moz-transition: 0.2s background-color ease;
  -o-transition: 0.2s background-color ease;
  transition: 0.2s background-color ease;
}
.header #back-btn:active, .header #back-btn:focus, .header #back-btn:hover, .header #reason-back-btn:active,
.header #reason-back-btn:focus, .header #reason-back-btn:hover, .header #top-close-btn:active, .header #top-close-btn:focus, .header #top-close-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.header h4 {
  line-height: 2.7;
  font-weight: 400;
  margin: 0;
  margin-right: -15px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.green {
  color: #12bb52;
  border-right-color: #12bb52;
}
.red {
  background-color: red;
  border-right-color: #12bb52;
  color: white;
  font-weight: bold;
}
.green.r-border {
  border-right-color: #12bb52;
}
.green i {
  color: #12bb52;
}
.fixed {
  position: fixed;
}
.v-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#pop6 {
  z-index: 99999999999;
}
.list-group-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.light {
  font-weight: 400;
}
.logo {
  position: fixed;
  z-index: 5555;
  top: 53%;
  left: 50%;
  margin-top: -125px;
  margin-left: -97px;
  opacity: 0.6;
}
.logo img {
  width: 100%;
  height: auto;
}
.logo.splash {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@keyframes loaderSignal {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
.content {
  position: relative;
  height: auto;
  color: #616161;
  margin-top: 50px;
  margin-bottom: 50px;
}
.content .content-title {
  padding: 15px 0 5px;
  font-weight: 400;
  line-height: 1;
}
.content .top-row {  padding: 15px 0;  }
.content .tasks-group .tasks-list-header {
  height: 30px;
  line-height: 30px;
  background-color: white;
}
.content .tasks-group .tasks-list-header span {  font-size: 16px;  }
.content .tasks-group .tasks-list-header span:nth-child(1) {  font-weight: 600;  }
.content .tasks-group .tasks-list-title {  margin-bottom: 0;  }
.content .tasks-group .tasks-list-title span.h1 {  width: 41px;  }
.content .tasks-group .tasks-list-title span.h1 h1 {
  margin-bottom: 0;
  line-height: 44px;
  color: #616161;
  font-weight: 400;
  font-size: 30px;
}
.content .done .border-bot, .content .done.border-bot {  border-bottom: solid 5px #12bb52;  }
.content .done .full-color {  z-index: 9;  }
.content .not-done .border-bot, .content .not-done.border-bot {  border-bottom: solid 5px #dc4d46;  }
.content .not-done .full-color {  z-index: 7;  }
.content .half-done .border-bot, .content .half-done.border-bot {  border-bottom: solid 5px #ffcc00;  }
.content .half-done .full-color {  z-index: 8;  }
.content .bottom-btn {
  padding: 21px 12px;
  border-radius: 0 !important;
}
.page-top {
  height: 55px;
  line-height: 4;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  /* stroke */
}
.page-top img {
  width: 65px;
  height: auto;
  padding: 0px 5px;
}
.page-top .icon-wagon {
  font-size: 24px;
  color: #a6abb7;
  vertical-align: text-bottom;
}
.page-top .text-right .h4 {  color: #616161;  }
.page-top .text-left .h4 {
  vertical-align: middle;
  margin-left: 10px;
  display: inline-block;
  line-height: 50px;
  color: #616161;
}
.page-top .h1 {
  display: inline-block;
  line-height: 1.3;
  color: #616161;
  opacity: 0.5;
  font-weight: 400;
  margin: 0;
  vertical-align: super;
}
.report-text {  display: inline-block;  }
.report-text h4 {  color: #616161;  }
.report-text span {
  color: #616161;
  opacity: 0.7;
}
.border-line {  border-bottom: 1px solid #c6c6c6;  }
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 8888;
  position: fixed;
  -webkit-backface-visibility: hidden;
  top: 0;
}
.overlay.push-up {  z-index: 999999;  }
.overlay #close-btn {
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  color: white;
  padding: 14px;
  margin-right: -15px;
}
.overlay #close-btn:active {  opacity: 0.5;  }
.icon-btn > h4 {
  line-height: 65px;
  text-align: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
}
.icon-btn > h4:before {
  font-family: 'icomoon';
  font-weight: 400;
  font-size: 21px;
  vertical-align: bottom;
  margin-left: 10px;
}
.icon-btn > h4.right-icon {  padding-right: 2.2vw;  }
.icon-btn > h4.left-icon {  padding-left: 3vw;  }
.icon-btn.report > h4:before {  content: "\e607";  }
.icon-btn.error > h4:before {  content: "\e604";  }
.r-border {
  border-right-width: 6px;
  border-right-style: solid;
}
.followMeBar {
  background: #999;
  position: relative;
  z-index: 1;
}
.followMeBar.fixed {
  position: fixed;
  top: 50px;
  width: 100%;
  box-sizing: border-box;
  z-index: 0;
}
.followMeBar.fixed.absolute {  position: absolute;  }
.preventScroll{  overflow:hidden;  }
#loader{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  z-index: 99999;
  background: rgb(92, 92, 92);
  background: rgba(92, 92, 92, 0.8);
  display:none;
}
#loader img{
  height: 49px;
  width: 49px;
  position: relative;
  top: 35.5%;
  right: 43.2%;
}
.nav {
  margin-bottom: 0;
  list-style: none;
  z-index: 1050;
  position: fixed;
  background-color: white;
  width: 100%;
  font-size: 80%;
  padding: 1px;
}
.container {
  position: fixed;
  z-index: 1050;
  top: 12%;
  left: 2%;
  width: 96%;
  height: 83.5%;
  border-radius: 14px;
  padding: 15px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.view-container{  height: 0 !important;  }
.nav-pills > li > a {
  border-radius: 4px;
  padding: 6px;
  font-weight: bold;
  font-size: 14px !important;
  font: message-box;
}
#aramisTitle {
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  font: message-box;
}
#aramisStatText{  font-size: 9px !important;  }
#footerImg {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0%;
}
#indication1{
  color: black !important;
  position: absolute !important;
  bottom: -45px;
  right: 11px;
}
#indication2{
  color: black !important;
  position: absolute !important;
  bottom: -45px;
  right: 105px;
}
#indication3 {
  color: black !important;
  position: absolute !important;
  bottom: -45px;
  right: 190px;
}
#indication4 {
  color: black !important;
  position: absolute !important;
  bottom: -45px;
  right: 274px;
}
#icon1 {
  position: absolute !important;
  bottom: -23px;
  right: 10px;
  z-index: 9999;
  height: 26px;
}
#icon2 {
  position: absolute !important;
  bottom: -25px;
  right: 104px;
  z-index: 9999;
  height: 27px;
}
#icon3 {
  position: absolute !important;
  bottom: -23px;
  right: 170px;
  z-index: 9999;
  height: 25px;
}
#icon4 {
  position: absolute !important;
  bottom: -23px;
  right: 283px;
  z-index: 9999;
  height: 25px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 1px;
  line-height: 1.4;
  vertical-align: top;
  border-top: 1px solid #ddd;
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.serviceContent{  overflow-y: scroll;  }
body {  overflow:hidden !important;  }
#contentTitle{  font: message-box;  }
.stat{
  text-align: right !important;
  padding-right: 3% !important;
}
.stat .red{  background-color: red !important;  }
.stat .green{  color: green !important;  }
.modal {  z-index: 9999;  }
.modal-dialog {
  position: absolute;
  top: 35%;
  right: 6%;
  width: 80%;
}
.modal-footer {  text-align: -webkit-left;  }
.modal-header .close {
  margin-top: -12px !important;
  font-size: 47px !important;
}
.modal-content {  top: -44px;  }
.aramisCon {
  bottom: 3px !important;
  position: fixed;
  width: 161px;
  height: 9%;
  right: 10px;
  z-index: -1;
  border-radius: 13%;
  background-color: white;
}
.c32Con{
  bottom: 3px !important;
  position: fixed;
  width: 83px;
  height: 9%;
  right: 181px;
  z-index: -1;
  border-radius: 13%;
  background-color: white;
}
.discCon{
  bottom: 3px !important;
  position: fixed;
  width: 75px;
  height: 9%;
  right: 275.5px;
  z-index: -1;
  border-radius: 13%;
  background-color: white;
}
#iconMenu{
  position: fixed;
  left: 13px;
  top: 13px;
  height: 25px;
  z-index: 9999;
}
#iconRefresh{
  position: fixed;
  left: 44px;
  top: 13px;
  height: 25px;
  z-index: 9999;
}
#iconInfo {
  position: fixed;
  right: 13px;
  top: 13px;
  height: 25px;
  z-index: 9999;
}

#iconBack {
  position: fixed;
  right: 46px;
  top: 13px;
  height: 25px;
  z-index: 9999;
}

.btn {
  outline: 0;
}
.btn-group > .btn:first-child:not(:last-child) {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.btn-group > .btn-group:last-child > .btn:first-child {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 0;
}
.btn-group {
  position: relative;
}
.btn-success{
  display: -webkit-inline-box;
  margin: 0;
  position: absolute;
  right: 14px;
}
.btn-danger{
  display: -webkit-inline-box;
  margin: 0;
  position: absolute;
  right: -202px;
  margin-bottom: -42px;
  margin-left: 24px;
}
.btn-primary{
  display: -webkit-inline-box;
  margin: 0;
}
.animatedGif {
  height: 60%;
  width: 105%;
  position: relative;
  top: 190px;
}
#myModal3 .modal-dialog {
    position: absolute;
    top: 23%;
    right: 7.5%;
    width: 80%;
}
#myModal3 .btn-primary {
    display: table-cell;
    margin: 0;
    width: 145px;
    margin-bottom: 4px;
    text-align: center;
}
#manageMenu .btn-primary {
    display: table-cell;
    margin: 5px;
    width: 145px;
    margin-bottom: 4px;
    text-align: center;
}
#manageMenu {
    overflow-y: hidden;
}
.secManageMenu .btn-info {
    display: table-cell;
    margin: 5px;
    width: 93px;
    margin-bottom: 4px;
    text-align: center;
    font-size: xx-small;
}
.manageForm{
    text-align: right !important;
    font-size: initial;
    margin-right: 7px;
    margin-top: 16px;
}

/*Puzzle*/
.board {
  width: 250px !important;
  position: relative;
  left: -280px;
  top: -135px;
}
.board2 {
  width: 100px !important;
  position: absolute;
  left: 59px;
  top: 99px;
}
#puz>div {
  /*background-color:white;*/
  width:70px;
  height:70px;
  float:left;
  border:1px solid black;
  background-image: url("../images/question-mark.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-color: white;
}
#pieces>div {
  background-color:gray;
  width:70px;
  height:70px;
  float:left;
  border:1px solid black;
  top: -99px;
  left: -60px;
}
.dropped{
  background-color: red !important;
}
/*Puzzle End*/
.answerCircle{
  height: 88px;
  width: 88px;
  margin-top: 27px;
  margin-right: -28px;
  cursor: pointer;
  position: relative;
  top: 0px;
  right: -2px;
}

.answerText{
    position: relative;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    height: 89px;
    width: 88px;
    background-size: 87px;
    display: table-cell;
    vertical-align: bottom;
    top: 30px;
    right: -64px;
    font-size: 52px;
    background-color: lightseagreen;
    border-radius: 100%;
    border-style: inset;
    padding: -10px;
}

.currentPic{
  height: 100px;
  width: 100px;
  position: relative;
  left: -39px;
  top: -10px;
}

.puzIcon{
  height: 136px;
  position: fixed;
  left: 102px;
  bottom: -17px;
}

.puzIconLabel{
  font-size: xx-large;
  position: fixed;
  bottom: 21px;
  left: 157px;
}

.pointIcon{
  height: 91px;
  position: fixed;
  bottom: 7px;
  left: 191px;
}

.pointIconLabel{
  background-image: url("../images/pointIcon.ico") !important;
  font-size: xx-large;
  position: relative;
  bottom: -262px;
  left: -360px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 103px;
  width: 83px;
  background-size: 87px;
  display: table-cell;
  vertical-align: middle;
}

.playBtnLabel{
  position: relative;
  right: 36%;
  font-size: 29px;
  top: 5px;
  color: #fff;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: blue;
}

.playBtnLabel2{
  position: relative;
  right: 1%;
  font-size: 36px;
  top: 34px;
  color: #fff;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: blue;
}

.targil{
  text-align: center;
  color: white;
  cursor: pointer;
  margin-right: 39px;
  font-size: 65px;
  position: absolute;
  right: -124px;
  top: -32px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;
}

.winnerPic{
  position: absolute;
  height: 120%;
  width: 80%;
  z-index: 9999;
  top: -48px;
  right: -39px;
}

.kefelBoard{
  position: absolute;
  border: whitesmoke;
  border-width: thick;
  border-style: solid;
  height: 280px;
  width: 280px;
  top: 6px;
  left: 14px;
  table-layout: fixed;
}

tr{
  border: whitesmoke;
  border-width: thick;
  border-style: solid;
}

td{
  border: black;
  border-width: thick;
  border-style: solid;
  font-size: 29px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
  vertical-align: bottom;
}